<!DOCTYPE hmtl>
<body>
    <form method="post">
        Enter some text: <input type="text" name="someText" id="someText"/>
        <!-- <a href="/c/Users/aerot/coding/saveFileTest/templates/sometext.txt" 
        download="/c/Users/aerot/coding/saveFileTest/templates/sometext.txt"> -->
        <!-- <a href="sometext.txt" download="sometext.txt"> -->
        <!-- <a href="/return-files/" target="blank">Submit</a> -->
            <!-- Submit </a> --> 
            <input type="submit" value="Submit"/>
    </form>
</body>
</html>